<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Blaze Suite" parallel="false" thread-count="2">

<listeners>
    <listener class-name="nnd.Listners.DB_MyTestListener"/>
</listeners>
   
    
    <test name="Demo Blaze Functional Tests">
      
        <classes>
            <!-- Replace with actual package names and test classes -->
            <class name="nnd.TestCases.DB_RegisterTest"/>
            <class name="nnd.TestCases.DB_LoginTest"/>
            <class name="nnd.TestCases.DB_HomeTest"/>
        </classes>
    </test>

    


</suite>
